<!-- https://bit.ly/2rkS6FB -->
<section class="container">

    <h2>Cadastro</h2>
    <hr>

    <div class="row">
      <form class="col-sm-6">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input id="titulo" name="titulo" class="form-control" [(ngModel)]="foto.titulo">
        </div>
        <div class="form-group">
          <label for="url">URL</label>
          <input id="url" name="url" class="form-control" [(ngModel)]="foto.url">
        </div>
        <div class="form-group">
          <label for="descricao">Descrição</label>
          <textarea id="descricao" name="descricao" class="form-control" [(ngModel)]="foto.descricao">

          </textarea>
        </div>
        <a href="/" class="btn btn-link">
          Voltar
        </a>
        <button type="submit" class="btn btn-primary">
          Salvar
        </button>
      </form>
      <btsp-card [titulo]="foto.titulo | tresPontinhos: 7" class="col-sm-6">
          <btsp-img-fluid [img]="toImg(foto)"></btsp-img-fluid>
      </btsp-card>
    </div>
</section>
