<!-- https://bit.ly/2rkS6FB -->
<section class="container">

    <h2>Cadastro</h2>
    <hr>

    <div class="row">
      <div class="alert alert-success col-sm-12" *ngIf="msgSucesso">
          {{ msgSucesso }}
      </div>

      <form class="col-sm-6" (submit)="save()" [formGroup]="formulario" autocomplete="off">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input name="titulo" class="form-control" formControlName="titulo">

          <div class="alert alert-danger mt-2" *ngIf="(formulario.controls.titulo.dirty || formulario.controls.titulo.touched) && formulario.controls.titulo.invalid && formulario.controls.titulo.errors.required" >
            Título vazio
          </div>
          <div class="alert alert-danger mt-2" *ngIf="(formulario.controls.titulo.dirty || formulario.controls.titulo.touched) && formulario.controls.titulo.invalid && formulario.controls.titulo.errors.minlength">
              Título deve ter no mínimo 3 chars
          </div>
        </div>
        <div class="form-group">
          <label for="url">URL</label>
          <input id="url" name="url" class="form-control" formControlName="url">
          <div class="alert alert-danger mt-2" *ngIf="(formulario.controls.url.dirty || formulario.controls.url.touched) && formulario.controls.url.invalid && formulario.controls.url.errors.required" >
              URL é obrigatória
          </div>
        </div>
        <div class="form-group">
          <label for="descricao">Descrição</label>
          <textarea id="descricao" name="descricao" class="form-control" formControlName="descricao">

          </textarea>
        </div>
        <a href="/" class="btn btn-link">
          Voltar
        </a>
        <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">
          Salvar
        </button>
      </form>

      <app-card-foto [foto]="foto" class="col-sm-6"></app-card-foto>

    </div>
</section>
